In [3]:
cd C:\Users\195-PC\MARS NOTEBOOK

C:\Users\195-PC\MARS NOTEBOOK

In [1]:
pwd

'C:\\Users\\195-PC\\MARS NOTEBOOK'

In [2]:
a = []

print(a)

[]

In [3]:
a = [1, 2, 3, 6, 7]
print(a)

[1, 2, 3, 6, 7]

In [4]:
a = ['korea', 'kang', 1, 3, 4, [2, 5]]
print(a)

['korea', 'kang', 1, 3, 4, [2, 5]]

In [5]:
a = 'hello world'
b = list(a)
print(b)

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [7]:
c = (1, 2, 3)
d = list(c)
print(c)   #튜플
print(d)   #리스트

(1, 2, 3)
[1, 2, 3]

In [8]:
e = a.split()
print(e)

['hello', 'world']

In [9]:
a = [1, 2, 3, 4, 5]
print(a[0])
print(a[3])
print(a[-1])
print(a[-2])

1
4
5
4

In [10]:
a[0] = 2
print(a)

[2, 2, 3, 4, 5]

In [14]:
b = 'hello world'
print(b[0])

h

In [17]:
a = 'hello world'
print(a[0])

b = 'jello world'
c = 'x' + b[1:]
d = a.replace('h', 'y')

print(a)
print(b)
print(c)
print(d)

h
hello world
jello world
xello world
yello world

In [18]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(a[1:3])   # a[1] to a[3-1]
print(a[:5])   # FIRST to a[5-1]
print(a[1:])   # a[1] to LAST
print(a[:])   # FIRST TO LAST

[2, 3]
[1, 2, 3, 4, 5]
[2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
a[1:9:2]   # a[1] to a[9] jump by 2 step

[2, 4, 6, 8]

In [21]:
b = a[0:10:3]
print(b)

[1, 4, 7, 10]

In [22]:
a = [1, 2, 3, 4, 5]
a.append(10)
print(a)

[1, 2, 3, 4, 5, 10]

In [23]:
a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9, 10]
a.append(b)   # append : 인덱스 하나에 b변수를 다 넣음
print(a)
print(a[5])

[1, 2, 3, 4, 5, [6, 7, 8, 9, 10]]
[6, 7, 8, 9, 10]

In [24]:
a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9, 10]
a.extend(b)   # extend : a변수에 b변수를 추가(=연장)함
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [26]:
a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9, 10]
print(a + b)

a += b   # a.extend(b) 와 똑같다
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [27]:
a = [1, 2, 3, 4, 5]
a.insert(1, 10)   # insert(a, b) : a 뒤에 b 삽입
print(a)

[1, 10, 2, 3, 4, 5]

In [28]:
a = [1, 2, 20, 4, 5]
a.remove(20)   # remove(x) : 원소 x 삭제
print(a)

[1, 2, 4, 5]

In [29]:
a = [1, 2, 4, 2, 5]
a.remove(2)   # 같은 2 중에서 인덱스가 빠른 2부터 삭제
print(a)

[1, 4, 2, 5]

In [30]:
a = [1, 2, 3, 4, 5]
a.pop()   # pop() : 끝 인덱스의 원소 제거
print(a)

[1, 2, 3, 4]

In [33]:
a = [1, 2, 3, 4, 5]
b = a.pop(1)   # pop(x) : x번째 인덱스의 원소 제거 / 변수에다가 저장
print(a)
print(b)

[1, 3, 4, 5]
2

In [35]:
a = [10, 20, 30, 40, 50]
a.index(30)   # 원소값 30의 인덱스 출력

2

In [36]:
a = [10,20, 30, 40, 50]
b = 30

c = b in a   # b가 a에 존재하는가? yes : TRUE / no : FALSE
print(c)
d = 10 in a
print(d)
e = 60 in a
print(e)

True
True
False

In [37]:
a = [0, 2, 8, 3, 5, 9, -1]
a.sort()   # 정렬 (default : 오름차순)
print(a)

[-1, 0, 2, 3, 5, 8, 9]

In [42]:
a = [0, 2, 8, 3, 5, 9, -1]
a.sort(reverse=True)   # 내림차순 정렬
print(a)

[9, 8, 5, 3, 2, 0, -1]

In [43]:
a = [0, 2, 8, 3, 5, 9, -1]
b = sorted(a)  # 정렬
print(a)
print(b)

[0, 2, 8, 3, 5, 9, -1]
[-1, 0, 2, 3, 5, 8, 9]

In [44]:
a = [1, 2, 3]
b = (1, 2, 3)
print(type(a))   # 리스트
print(type(b))   # 튜플

<class 'list'>
<class 'tuple'>

In [45]:
a[0] = 100   # a[0]에 100으로 변경
print(a)

[100, 2, 3]

In [46]:
b[0] = 100   # 튜플은 변경 불가능하다
print(b)

TypeError: 'tuple' object does not support item assignment

In [47]:
b = 1, 2, 3   # 튜플
print(type(b))

<class 'tuple'>

In [48]:
a, b, c, d = 100, 200, 300, 400
print(a)
print(b)
print(c)
print(d)

100
200
300
400

In [49]:
a, b = b, a   # 스왑
print(a, b)

200 100

In [57]:
a = {'korea' : 'seoul',
     'canada' : 'ottawa',    # 딕셔너리
     'usa' : 'washington'}   # KEY : VALUE
print(type(a))

<class 'dict'>

In [58]:
print(a['korea'])

seoul

In [59]:
print(a['usa'])

washington

In [60]:
b = {100 : 1,
     99 : 2,
     88 : 3,
     1 : 20,
     2 : 30}
print(b[100])
print(b[1])

1
20

In [61]:
a = {'korea' : 'seoul',
     'canada' : 'ottawa',    # 딕셔너리
     'usa' : 'washington'}   # KEY : VALUE
print(a)
a['japan'] = 'tokyo'   # 딕셔너리에 새로운 ITEM(KEY : VALUE) 추가
print(a)

{'korea': 'seoul', 'canada': 'ottawa', 'usa': 'washington'}
{'korea': 'seoul', 'canada': 'ottawa', 'usa': 'washington', 'japan': 'tokyo'}

In [63]:
a['korea'] = 'cheongju'   # KEY의 VALUE 변경
print(a)

{'korea': 'cheongju', 'canada': 'ottawa', 'usa': 'washington', 'japan': 'tokyo'}

In [68]:
a = {'a' : 1,
     'b' : 2,
     'c' : 3}

b = {'a' : 2,
     'b' : 2,
     'c' : 3,
     'd' : 4,
     'e' : 5,
     'f' : 6}

a.update(b)   # 딕셔너리 a에 딕셔너리 b로 복제 같은 자리들은 겹쳐쓰고, 없던 키는 새로 생성
print(a)
print(b)

{'a': 2, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}
{'a': 2, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}

In [69]:
del a['b']   # 딕셔너리 a의 'b' 키 제거
print(a)

{'a': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}

In [70]:
a.clear()   # clear() : 딕셔너리 내 아이템들 전체 제거
print(a)

{}

In [71]:
a = {'a' : j, 'b' : 2, 'c' : 3}
print(a.get('d'))
print(a['d'])

NameError: name 'j' is not defined

In [73]:
a = {'a' : 1,
     'b' : 2,
     'c' : 3}
print(a)
print(a.keys())
print(a.values())

{'a': 1, 'b': 2, 'c': 3}
dict_keys(['a', 'b', 'c'])
dict_values([1, 2, 3])

In [74]:
b = list(a.keys())
c = list(a.values())
print(b)
print(c)

['a', 'b', 'c']
[1, 2, 3]